body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./login/login.jpg'); /* Background image with gradient overlay */
    background-size: cover;
    background-position: center;
    color: rgb(16, 15, 15);
}

.login-container {
    background-color:#f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

#topic{
    font-family: "Bebas Neue", sans-serif;


}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.login-button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid darkgreen;
     
}
.login-button:hover{
    background-color: #218838; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

.sign-up-button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid darkgreen;
    margin-top: 10px;
}
.sign-up-button:hover{
background-color: #218838; 
transform: translateY(-2px); 
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: #218838;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
