/* styles.css */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Apparel/privacy_policy_back.jpg'); /* Background image with gradient overlay */
    background-size: cover;
    background-position: center;
    color: rgb(16, 15, 15);
    
  }
  h1{
    color: #007bff;
    margin-bottom: 10px;
    font-family: 'Mulish', serif;
    text-transform: uppercase;
    text-decoration:solid;
    font-size: 60px;
    text-align: center;
    color: #007bff;
    
    
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s;
    animation: fadeIn 1.5s ease-in;
   
  }
  
  
  @keyframes slideIn {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
  
  
  h2 {
    color: #333;
    margin-top: 20px;
  }
  
  p, ul {
    line-height: 1.6;
  }
  
  ul {
    padding-left: 20px;
  }
  .icon-container{
    display:flex;
    justify-content: center;
  }
  .icon{

    width:200px;
    height:200px;
    border-radius: 50%;

  }