
.topic{
    font-family: "Bitter", serif;
    font-size: 100px;
    display:block;
    background-color:#1D1616;
    color:#EEEEEE;
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-family:"Mulish", serif; ;
    font-size: 30px;
    color:#EEEEEE;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D84040;
    text-decoration: none;
  }
  
  li {
    float: inline-start;
    position:relative;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
  }
  
  li a:hover {
    background-color: #e55d00;
    transform: scale(1.05);
   
  }
  .icon{
    width:20pxpx;
    height:20px;

  }
  .icon:hover{
    background-color: #e55d00;
    transform: scale(1.05);
  }
  input[type=text] {
    float: inline-end;
    padding: 6px;
    margin-top: 16px;
    margin-right: 16px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
  }
  /* Responsive Design */
@media (max-width: 800px) {
  .topic {
      font-size: 50px;
  }
  
  ul {
      font-size: 20px;
  }
  
  li {
      display: block;
      width: 100%;
  }
  
  li a {
      display: block;
      width: 100%;
      padding: 10px;
  }
  
  input[type=text] {
      width: 100%;
      margin-top: 10px;
      margin-right: 0;
  }
}

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.icon{
  width:70px;
  height:70px;
  border-radius: 100px;
  margin-top: 4px;
  
}

.fonth{
  font-family:"Mulish", serif;
  font-weight: 300;

  

}
 .sec2{
 font-size: 100px;
 color:#81BFDA;
 
 
 

 
}
#section3{
  background-image: url(https://img.freepik.com/free-photo/young-fitness-man-studio_7502-5008.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:100vh;
  color:white;  

 
  
 
}

.section3 h3{
  align-items: flex-start;
}
.button{
  color:#FFE6C9;
  background-color: transparent;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
  
}

#text3{
  color:black;
}


.button:hover{
  background-color: #e55d00;
  transform: scale(1.09);
}
@media (max-width:800px) {


  #benefit{
    font-family: "Bitter",serif;
    font-weight: 0px;
    font-size: 50;
    color:#D84040;
  }
  .icon{
    width:50px; /* Adjust icon size for smaller screens */
    height:50px;
  }

  .fonth{
    font-weight: 300;
  }

  .sec2{
    font-size: 50px; 
  }

  #section3{
    height: auto;
    padding: 20px; 
  }

  .section3 h3{
    font-size: 24px;

  .button{
    font-size: 16px; 
    padding: 8px; 
  }
}
}
.brand{
  padding:30px 14%;
  background:var(--text-color);
  background-color:#717171;


}
@media (max-width: 768px) {
  .brands-c {
    flex-direction: column;
    align-items: center;
  }
}
.main-brand{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
}
.brand-c img{
  width:auto;
  height:auto;
}
#benefit{
  font-family: "Bitter",serif;
  font-weight: 0px;
  font-size: 50;
  color:#D84040;
}
.container-bene{
  
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: auto auto auto ;
  
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  gap: 5rem;
  margin-top: 5px;
  padding:0;
  
}

    
  

.container-1{
 
  gap: 8rem;
}
.container1-top{
  
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin-bottom: 30px;
  row-gap: 10px;
  font-family:"Bitter", serif ;
  color: #e55d00;
  flex-grow: inherit;

 

}
.container-detail{
 
  font-size: 17px;
  font-weight: bold;
  font-family:"Mulish", serif; 


  


}
.heart-health{
 
  width:100px;
  height:100px;
  margin-top:2px;
  margin-left:62px;
  

}
.weight{


  display: flex;
  margin-top:auto;
  padding: 0;
  margin-left: 45px;
 
  
  
  
}

.muscle{
  margin-bottom:12px;
  gap:3px;
  margin-left: 60px;

}
@media (max-width: 800px) {
  .container-bene {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: space-between;
      align-items: center;
      height: auto;
      gap: 10rem;
      margin-top: 180px;
      padding: 0;
  }
}
.footer{
  position:relative;
  margin:0px;
  padding:0px;
  
  left:0;
  bottom:0;
  width:100%;
  background-color:#A31D1D;
  color:white;
  text-align: center;
  display: inline-block;
  font-family: "Mulish",serif;
  gap: 0px;
}
@media (max-width: 800px) {
  .footer {
    font-size: 16px; 
    padding: 10px; 
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  
  }
}


.logout-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

